*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android
**/.idea/
**/build/
*.apk
*.aab
*.ap_
*.dex
*.class

# Kotlin
.kotlin/

# Gradle
.gradle/
gradle-wrapper.jar
